.titleContainer {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  border-bottom: 0.0625em solid #E4E4E4;
}
.contentBox{padding-top: 3.25em;}

.textBtn{
  font-size: 14px;
  color:#c28324;
  padding: 5px 0 5px 5px; 
}
