.title{
  width: 100%;
  height: 2.8125em;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000;
  position: fixed;
  border-bottom: 0.0625em solid #E4E4E4;
  z-index: 20;
}

.titleIcon{
  width: 0.5625em;
  height: 0.9375em;
  position: absolute;
  padding: 0.93em;
}

.complete{
  /*font-weight: bold;*/
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.77em;
  color:#6ca0f7;
}

.titleText{
  height: 2.8125em;
  line-height: 2.4em;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  letter-spacing: 5px;
  font-weight: bold;
}

.complete2{
  /*font-weight: bold;*/
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7em 0.7em 0.4em 0.7em;
  color:#6ca0f7;
}

.complete2 img{
  width: 1.5em;
  height: 1.5em;
  background-color: #ccc;
}
