.content{
  display: flex;
  height: 38px;
  line-height: 38px;
  background-color: #ffffff;
  padding-left: 0.9em;
  font-size: 16px;
}

.label{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
  font-size: 0.875em;
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #888;
}
