.title{
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f7fb;
  color: #000;
  position: fixed;
  /* border-bottom: 0.0625em solid #E4E4E4; */
  /* border-bottom: 0.0625em solid #fff; */
  z-index: 20;
}

.titleLeft{
  flex:1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleLeft img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 14px;
}

.titleLeft span{
  font-size: 14px;
  color:#171717;
  padding: 0 0.6em;
}

.vip{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.vip img{
  width: 16px;
  height: 16px;
  margin-left: 0;
  /* background-color: #D1CB00; */
}

.vip span{
  font-size: 0.8125em;
  color:#c28324;
  padding: 0 0.25em;
}

.titleRight{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6.5px 14px 6.5px 9.5px;
}

.titleRight{
  /* background-color: #ccc; */
}

.selectedIcon{
  margin-top: 2px;
}

.selectedIcon img{
  width: 19px;
  height: 19px;
}

.shoppingCarIcon{
  position: relative;
}

.shoppingCarIcon img{
  width: 19px;
  height: 19px;
}

.badge{
  /* position: absolute;
  top: -5px;
  right: -6px;
  width: 16px;
  height: 16px;
  padding: 0.2em 0.4em;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid red; */

  position: absolute;
  top: -5px;
  right: 50%;
  min-width: 15px;
  height: 16px;
  line-height: 16px;
  /* padding: 1px 3px; */
  background-color: red;
  border-radius: 50%;
  color: #fff;
  font-size: 0.625em;
  /* -webkit-transform: translateX(34%); */
  /* transform: translateX(34%); */
  margin-right: -18px;
  text-align: center;
}

.badge span{
  color: red;
  font-size: 0.625em;
}

.clear{
  padding-top: 44px;
  background-color: #f6f7fb;
}
